<header class='entete'>


 <section>
 <i class="fa fa-cubes fa-5x"></i>
 <h1>Node.js - Express - mongoDB et EJS - Socket.io -TP2</h1> 
 </section>

 <nav> 
    <a href='/vider'><i class="fa fa-eraser" aria-hidden="true"></i><%= __('vider') %></a>
    <a href='/Accueil'><i class="fa fa fa-home" aria-hidden="true"></i><%= __('accueil') %></a>
    <a href='/'><i class="fa fa-address-book" aria-hidden="true"></i><%= __('adresse') %></a>
    <a href='/peupler'><i class="fa fa-users" aria-hidden="true"></i><%= __('peupler') %></a>
    <a href='/formulaire'><i class="fa fa-wpforms" aria-hidden="true"></i><%= __('formulaire') %></a>
    <a href='/chat'><i class="fa fa-wpforms" aria-hidden="true"></i><%= __('clavardage') %></a>
    <% if(getLocale() == 'en'){%>
      <a href="/fr">FR </a>
        <% }else{%>
        <a href="/en">EN </a>
          <%}%>
   
   </nav> 

 </header>