<form id="mon_formulaire" action="/modifier" method="POST">
    <input name="_id" type="text" >
    <input name="nom" type="text" >
    <input name="prenom" type="text" >
    <input name="telephone" type="text" >
    <input name="courriel" type="text" >
    <input type="submit">
</form>

<table class="tableau">
    <% let noligne = 0 %>
        <% for(elm of adresses) { %>
            <% if (noligne==0) { %>
                <tr>
                    <% noligne++ %>
                    <td><a href="/trier/_id/<%= ordre %>">id</a></td>
                    <td><a href="/trier/prenom/<%= ordre %>">prenom</a></td>
                    <td><a href="/trier/nom/<%= ordre %>">nom</a></td>
                    <td><a href="/trier/telephone/<%= ordre %>">telephone</a></td>
                    <td><a href="/trier/courriel/<%= ordre %>">courriel</a></td>
                </tr>
            <% } %>

                <tr>
                    <% for(info in elm) { %>
                        <td class="<%=info %>" contenteditable="true"><%= elm[info] %></td>
                    <% } %>
                    <td><a href="/detruire/<%= elm._id %>">Détruire </a></td>
                    <td><a class="modifier">Modifier </a></td>
                </tr>            
        <% } %>
</table>
