<table class="tableau">
    <% let noligne = 0 %>
        <% for(elm of adresses) { %>
            <% if (noligne==0) { %>
                <tr>
                    <% noligne++ %>
                    <td><a href="trier/_id/<%= elm._id %>">id</a></td>
                    <td><a href="trier/nom/<%= elm.nom %>">nom</a></td>
                    <td><a href="trier/prenom/<%= elm.prenom %>">prenom</a></td>
                    <td><a href="trier/telephone/<%= elm.telephone %>">telephone</a></td>
                    <td><a href="trier/courriel/<%= elm.courriel %>">courriel</a></td>
                </tr>
            <% } %>

                <tr>
                    <% for(info in elm) { %>
                        <td><%= elm[info] %></td>
                    <% } %>
                    <td><a href="/detruire/<%= elm._id %>">Détruire </a></td>
                </tr>            
        <% } %>
</table>
